html,body{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

p{
    margin: 0px;
}

.contioner {
    position: relative;
    width: 1320px;
    height: auto;
    display: flex;

}

/* NAVBAR */

.navbar_frame {
    position: relative;
    width: 100%;
    height: 145px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     background-color:rgba(68, 50, 151, 1); 
}

.navbar_frame .contioner {
    margin: 20px 0px 14px;
    flex-direction: column;
}

.navbar_frame .navbar_top {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row; 
}

.navbar_frame .navbar_top >a img {
    margin-right: 76px;
    width: 117px;
    height: 36px;
   
}

.navbar_frame .navbar_top .nav_search_frame{
    width: 650px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    border-radius: 6px;
}

.navbar_frame .navbar_top .search_box{
    padding: 10px 17px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar_frame .search_box .category_list {
    width:166px;
    height: 30px;
    display: flex;
    flex-direction: row;

   border-right: 1px solid rgba(214, 214, 214, 1);
}

.navbar_frame .category_list select {
    width: 140px;
    height: 30px;
    
    border: none;
    outline: none;

    color: rgba(98, 105, 116, 1);

font-family: Jost;
font-size: 15px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}

.navbar_frame .search_box input {
    margin-left: 12px;
    width: 387px;
    height: 20px;

    border: none;
    outline: none;

    color: rgba(98, 105, 116, 1);

font-family: Jost;
font-size: 15px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}

.navbar_frame .nav_search_frame .search_icon_box {
    width: 50px;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 0px 6px 6px 0px;
background: rgba(245, 195, 75, 1);
}

.navbar_frame .search_icon_box img {
    width: 20px;
    height: 20px;
}

.navbar_frame .navbar_top .nav_top_menu {
    margin-left: 59px;
    width: 416px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar_frame .nav_top_menu .top_menu_box {
    display: flex;
    flex-direction:row;
    align-items:center;
    cursor: pointer;
}
.navbar_frame .top_menu_box .box_icon_box {
    position: relative;
    margin-right: 16px;
    width: 54px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 6px;
}

.navbar_frame .box_icon_box img {
    width: 22px;
    height: 22px;
}

.navbar_frame .top_menu_box .box_info_box {
    display: flex;
    flex-direction: column;
}

.navbar_frame .box_info_box span {
color: rgba(255, 255, 255, 1);

font-family: Jost;
font-size: undefinedpx;
font-weight: undefined;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}

.navbar_frame .box_info_box strong {
color: rgba(255, 255, 255, 1);

font-family: Jost;
font-size: undefinedpx;
font-weight: undefined;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}

.navbar_frame .box_icon_box .basket_count {
     position: absolute;
    width: 15px;
    height: 15px;
    top: -2px;
    right: -3px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background: rgba(245, 195, 75, 1);

    font-family: Jost;
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
}

.navbar_frame .navbar_bott {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;

    border-top: 1px solid #5746a1;
   
}

.navbar_frame .navbar_bott .navbar_bott_menu_box {
    margin-top: 10px;
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;
}

.navbar_frame .navbar_bott_menu_box .browse_box {
width: 185px;
height: 30px;

display: flex;
flex-direction: row;
align-items: center;

border-right: 1px solid #5746a1;
}

.navbar_frame .browse_box img {
    margin-right: 10px;
    width: 20px;
    height: 18px;
}

.navbar_frame .browse_box span {
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
}

.navbar_frame .navbar_bott_menu_box .navbar_route_menu {
    margin-left: 12px;
    display: flex;
    flex-direction: row;
}

.navbar_frame .navbar_route_menu .router_menu {
    margin-right: 20px;
    width: auto;
    height: 41px;
    display: flex;
}

.navbar_frame .router_menu a {
  font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #fff; 
}

.navbar_frame .router_menu a.  active {
  color: rgba(245, 195, 75, 1)

}

.navbar_frame .navbar_bott_menu_box .sorting_menu {
display: flex;
flex-direction: row;
}

.navbar_frame .sorting_menu span {
    margin-left: 20px;

font-family: Jost;
font-size: 16px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: right;

color: rgba(255, 255, 255, 1);
}
/* Pagination */

.contioner .pagionation_box {
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

 .contioner .pagionation_box .pagionation_main {
    width: auto;
    height: 24px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.pagionation_main img {
    cursor: pointer;
}

.contioner .pagionation_main .pagination_dot {
    margin: 0px 20px;

    display: flex;
    flex-direction: row;
}


.contioner .pagination_dot .dot {
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.contioner .pagination_dot .dot.active {
    border: 2px solid #112137;
}

.contioner .pagination_dot .dot div {
    width: 4px;
    height: 4px;
    background: #112137;
    border-radius: 50%;
}
.contioner  .product_wrapper .next_prev_box {
    width: 25px;
}

.contioner  .next_prev_box img {
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.tv_wrapper .tv_product_boxes {
    width: 1300px;
    height: 452px;

    display: flex;
    flex-direction: row;
}

.tv_product_boxes .tv_product_box {
    width: 260px;
    height: 452px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.tv_product_box .product_img {
    width: 100%;
    height: 280px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* Product Card */

.contioner .product_content_box {
    padding: 5px 22px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.contioner .product_content_box .product_title {
color: rgba(98, 105, 116, 1);

font-family: Jost;
font-style: Regular;
font-size: 13px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
}

.contioner .product_content_box .product_desc {
margin-top: 7px;
height: 56px;
overflow: hidden;

color: rgba(4, 30, 66, 1);

font-family: Jost;
font-style: Medium;
font-size: 16px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
}
.contioner .product_content_box .review_box {
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.contioner .review_box img {
    5px
}

.contioner .review_box span {
    margin-left: 10px;
    color: rgba(98, 105, 116, 1);

font-family: Jost;
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}

.contioner .product_content_box .price_box {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contioner .price_box strong {
color: rgba(4, 30, 66, 1);

font-family: Jost;
font-style: Medium;
font-size: 18px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}

.contioner .price_box span {
    margin-left: 10px;
color: rgba(98, 105, 116, 1);

font-family: Jost;
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: line-through;
}

/* Footer Frame */

.footer_frame {
    position: relative;
    padding: 90px 0px 20px;
    width: 100%;
    height: auto;
     display: flex;
     flex-direction: row;
     justify-content: center;
     background: rgba(243, 245, 246, 1);
}

.footer_frame .footer_spec_title {
    display: block;
    margin-bottom: 30px;
    color: rgba(4, 30, 66, 1);

font-family: Jost;
font-style: Medium;
font-size: 18px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.footer_frame .contioner {
   
    flex-direction: column;
  
  
}

.footer_frame .contioner .footer_frame_top {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
}
.footer_frame .footer_frame_top .footer_content_box {
display: flex;
flex-direction: column;
}

.footer_frame .footer_content_box .footer_contact_main {
   
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.footer_frame .footer_contact_main  img {
    width: 35px;
    height: 30px;
}

.footer_frame .footer_contact_main div {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.footer_frame .footer_contact_main div strong {
color: rgba(4, 30, 66, 1);

font-family: Jost;
font-style: Medium;
font-size: 15px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}

.footer_frame .footer_contact_main div span {
    margin-top: 10px;
color: rgba(4, 30, 66, 1);

font-family: Jost;
font-style: Regular;
font-size: 15px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}
.footer_frame .footer_support_box {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
}

.footer_frame .footer_support_box a {
  color: rgba(4, 30, 66, 1);

font-family: Jost;
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0%;
text-align: left;  
}

.footer_frame .footer_media_box {
    margin-left: 55px;
    display: flex;
    flex-direction: column;
}
.footer_frame .footer_media_box .foooter_media_main {
    display: flex;
    flex-direction: column;
}
.footer_frame .foooter_media_main .media_box {
    display: flex;
    flex-direction: row;
}
.footer_frame .media_box i {
    margin-right: 25px;
}

.footer_frame .foooter_media_main .mobile_app_box {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer_frame .mobile_app_box img {
    width: 24px;
    height: 16px;
}

.footer_frame .mobile_app_box span {
    margin-left: 20px;
    color: rgba(4, 30, 66, 1);

font-family: Jost;
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}

.footer_frame .foooter_media_main .card_box {
    width: 272px;

    display: flex;
    flex-direction: row;
    justify-content:space-between ;
}

.footer_frame .contioner .footer_frame_bottom {
    margin-top: 90px;
    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: row;
    align-items: flex-end;

    border-top: 1px solid  rgba(255, 255, 255, 1);
   
}

.footer_frame .footer_frame_bottom .footer_main {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
}
.footer_frame .footer_main .footer_bottom_left {
    width: 940px;
    height: auto;
    display: flex;
    flex-direction: row;
}
.footer_frame .footer_bottom_left span {
    margin-right: 60px;
    color: rgba(4, 30, 66, 1);

font-family: Jost;
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
}

.footer_frame .footer_main .footer_frame_right {
    width: 400px;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_frame .footer_frame_bottom .footer_select_box {
    padding: 10px 20px;
    width: 180px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;

    box-sizing: border-box;
border: 1px solid rgba(234, 234, 234, 1);
border-radius: 6px;
background: rgba(255, 255, 255, 1);
}

.footer_frame .footer_select_box span {
    color: rgba(98, 105, 116, 1);


font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
}

.footer_frame .footer_select_box select {
    margin-left: 20px;
width: 70px;
height: 90%;
background: none;
border: none;
outline: none;
cursor: pointer;

color: rgba(4, 30, 66, 1);


font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
}