.home_page {
padding-bottom: 60px;

    display: flex;
    flex-direction: column;

}

.contioner .category_top {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 

.contioner .category_top span {
    color: rgba(4, 30, 66, 1);

font-family: Jost;
font-style: Medium;
font-size: 28px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
}

.contioner.category_top a {
    color: rgba(4, 30, 66, 1);

font-family: Jost;
font-style: Medium;
font-size: 15px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}

a:hover {
    border-bottom: 2px solid rgba(4, 30, 66, 1);
}

.header_frame {
    position: relative;
    margin-top: 47px;
    width: 100;
    height: auto;

    display: flex;
    justify-content: center;
}

.header_frame .contioner {
flex-direction: row;

}

.header_frame .contioner .header_left {
    position: relative;
    padding: 15px;
    width: 875px;
    height: 508px;

    background-color: #0053f6;
    background-image: url(../image/icons/header_bg.svg);

    border-radius: 5px;
}

.header_frame .header_left .header_content {
    margin-top: 90px;

    display: flex;
    flex-direction: column;
}

.header_frame .header_content div {
    width: 104px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
background: rgba(245, 195, 75, 1);

color: rgba(4, 30, 66, 1);

font-family: Jost;
font-size: 13px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}

.header_frame .header_content span {
    margin-top: 10px;
    width: 428px;

font-family: Jost;
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 87px;
color: #ffffff;

}

.header_frame .header_content p {
    color: rgba(255, 255, 255, 1);

font-family: Jost;
font-size: 13px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}

.header_frame .header_content a {
    margin-top: 20px;
    width: 140px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;

border-radius: 6px;
background: rgba(255, 255, 255, 1);
color: rgba(4, 30, 66, 1);

font-family: Jost;
font-size: 15px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
}

.header_frame .header_content img {
    position: absolute;
    right: 10px;
}

.header_frame .contioner .header_right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}  

.header_frame .header_right .header_box {
    margin-left: 20px;
    width: 422px;
    height: 240px;
    
    display: flex;
    flex-direction: row;
    background: #f2f2f2;
    border-radius: 5px;
}

.header_frame .header_right .box_left {
    margin-left: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_frame .box_left span {
   
font-family: Jost;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
 color: rgba(0, 83, 246, 1);

}

.header_frame .box_left p {
    margin: 10px 0px;

    color: rgba(4, 30, 66, 1);
font-family: Jost;
font-size: 26px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
}

.header_frame .box_left a {
color: rgba(4, 30, 66, 1);
font-family: Jost;
font-size: 15px;
font-weight: 500;
line-height: 22px;
}

.header_frame .box_left .hover_border {
    margin-top: 3px;
    width: 32px;
    height: 2px;

    background: rgba(4, 30, 66, 1);
}

.header_frame .header_box .box_right{
    width: 50%;
}

.header_frame .box_right img {
width: 100%;
height: 100%;
}
/* SERVICE */
.home_page .service_frame {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: auto;

     display: flex;
     justify-content: center;

}

.service_frame .contioner {
    flex-direction: row;
} 

.service_frame  .contioner .service_box {
width: 25%;
height: 86px;

display: flex;
flex-direction: row;

border-bottom: 1px solid #eaeaea;
}

.service_frame  .service_box img {
    width: 35px;
    height: 35px;
}

.service_frame  .service_box .service_content {
    margin-left: 14px;
    display: flex;
    flex-direction: column;
} 

.service_frame  .service_content span {
    color: rgba(4, 30, 66, 1);

font-family: Jost;
font-style: Medium;
font-size: 16px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
}

.service_frame  .service_content p {
   color: rgba(98, 105, 116, 1);

font-family: Jost;
font-style: Regular;
font-size: 15px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left; 
}

/* Shop Category Start*/

.shop_category_frame {
    position: relative;
    margin-top: 90px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}

.shop_category_frame .contioner {
    flex-direction: column;
} 

.shop_category_frame .contioner .category_top {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 

.shop_category_frame .category_top span {
    color: rgba(4, 30, 66, 1);

font-family: Jost;
font-style: Medium;
font-size: 28px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
}

.shop_category_frame .category_top a {
    color: rgba(4, 30, 66, 1);

font-family: Jost;
font-style: Medium;
font-size: 15px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
}

a:hover {
    border-bottom: 2px solid rgba(4, 30, 66, 1);
}
.shop_category_frame .contioner .category_wrapper {
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.shop_category_frame .category_wrapper .category_box {
    width: 142px;
    height: auto;

    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.shop_category_frame .category_box .category_img_box {
    width: 100%;
    height: 150px;
     
    display: flex;
    align-items: center;
    justify-content: center;

    
border: 1px solid rgba(234, 234, 234, 1);
border-radius: 150px;
 
}

.shop_category_frame .category_box span {
    margin-top: 15px;
    color: rgba(4, 30, 66, 1);

font-family: Jost;
font-style: Medium;
font-size: 16px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
}

/* Shop category Finish */

/* Selling Product */

.selling_product_frame {
    position: relative;
    margin-top: 60px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selling_product_frame .contioner {
    flex-direction: column;
}

.selling_product_frame .contioner .product_wrapper {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.selling_product_frame .product_wrapper .next_prev_box {
    width: 25px;
}

.selling_product_frame .next_prev_box img {
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.selling_product_frame .product_wrapper .product_boxes {
    position: relative;
    width: 1224px;
    height: 452px;

    display: flex;
    flex-direction: row;
}

.selling_product_frame .product_boxes .product_box {
    width: 306px;
    height: 100%;

    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.selling_product_frame .product_box .product_img_box {
    width: 100%;
    height: 280px;
}

.selling_product_frame .product_img_box .hover_box {
    display: none;
    width: 100%;
    height: 100%;
    
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
} 

.selling_product_frame .hover_box button {
    margin-bottom: 10px;
    width: 260px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    outline: none;
    border: none;

    border-radius: 6px;
box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.1);
background: rgba(0, 83, 246, 1);

color: rgba(255, 255, 255, 1);

font-family: Jost;
font-style: Medium;
font-size: 15px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0%;
text-align: center;

}

.selling_product_frame .product_img_box:hover .hover_box {
    display: flex;
}

.selling_product_frame .product_boxes .product_content_box {
    padding: 5px 22px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.selling_product_frame .product_content_box .product_title {
color: rgba(98, 105, 116, 1);

font-family: Jost;
font-style: Regular;
font-size: 13px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
}

.selling_product_frame .product_content_box .product_desc {
margin-top: 7px;
height: 56px;
overflow: hidden;

color: rgba(4, 30, 66, 1);

font-family: Jost;
font-style: Medium;
font-size: 16px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
}
.selling_product_frame .product_content_box .review_box {
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.selling_product_frame .review_box img {
    5px
}

.selling_product_frame .review_box span {
    margin-left: 10px;
    color: rgba(98, 105, 116, 1);

font-family: Jost;
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}

.selling_product_frame .product_content_box .price_box {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selling_product_frame .price_box strong {
color: rgba(4, 30, 66, 1);

font-family: Jost;
font-style: Medium;
font-size: 18px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}

.selling_product_frame .price_box span {
    margin-left: 10px;
color: rgba(98, 105, 116, 1);

font-family: Jost;
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: line-through;
}

/* Selling Product Finish */

